/* changes in images */
img{
width:50px;
margin-left:40px ;
margin-top: 11.8px;
}
/* header changes */
header{
    display:flex;
    align-items: center;
    margin: 0px;
    padding: 10px;
    justify-content: space-between;
}
/* changes in child class items  */
nav .child{
    display: flex;
    list-style-type: none;
    gap: 20px;
    flex-direction:row;
    justify-content: end;
    padding: 0px;
    margin: 0px;
    align-items: center;
}
nav .child li{
    display: flex;
    justify-content: flex-end;
}
/* hover for a content or hyperlink  */
nav .child a:hover {
    color: blue;
}
nav .child a:active {
    color: red;
}

nav .child button:hover{
    background-color: blueviolet;
}
nav .child button:active{
    background-color: re;
}
/* changes for a button */
nav .child button{
    color: white;
    height:32px;
    width: 50;
    font-size:8px;
    background-color: blue;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 50ppx 30px;
    font-weight: bolder;

   
}
a{
    text-decoration: none;
    color: black;
    font-family:'arial';
    font-weight: bolder ;
    font-size: 12px;
}
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$................................................................$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/* STARTING WITH A MAIN TAG */
/* JAI MATA DI  */

.image{
   
    background-image: url('Mask\ Group\ 3.png');
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.image{
    padding:27px 60px;
    height: 430px;
    width: 1130px;
}


p{
    color: white;
    font-size: 18px;
    font-family: Helvetica Neue,medium;
    margin-bottom: 10px;
}
 .image h1{
    padding-left: -100px;
    padding-left: -30px;
    color: rgb(243, 248, 252);
    font-family: 'Times New Roman';
    font-size: 52px;
    margin-bottom:0px;
}
/* use  position absolute for a corner  */
.absolute{
    position: absolute;
    top:490px;
    right:20px;
    width: 1000; 
}
.absolute{
    font-family: Helvetica Neue, Bold;
    font-size:18px ; 
    font-weight:bolder;
    color: white;
    text-align: right;
    line-height:0.1;
    
}
.absolute H5{
    text-align: left;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/* article section  */

.section{
    position: absolute;
    top: 600px;
    left: 10px;
    width: 50;
}
.section h4{
    color:blue;
    margin: 20px 0px 0px 27px ;
}
.section p{
    color: black;
    margin: 20px 0px 0px 22px ;
    font-size:40px;
    padding-right: 20px;

}
.article p{
    font-size:16px;
    text-align: left;
    word-spacing:6px;
    
}
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  */
/* aside section  */
.aside{
    position: absolute;
    border: 2px solid #00000029;
    background-color: #00000029;
    border-radius: 4px;
    border-style: inline;
    width: 400px;
    top: 800px;
    right:30px;
}
.aside p{
    color: black;
    font-size: 30px;
    font-family:Helvetica Neue, Regular;
    font-weight: bold;
    padding-left: 25px;

}
ul.color{
    list-style-type: disc;
    padding-left: 35px;
}
ul.color li::marker{
    color: blue;
}

/* ####################################################################### */
/* buttton for a contact */
.button {
    position: absolute;
    width: 100px;
    top: 1270px;
    right: 230px;
    

}
button:hover{
    color:white;
    background-color: purple;
}
button:active{
    background-color: red;
    color: white;
}
button{
    color:aliceblue;
    background-color: blue;
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius:9px;
}